<div class="mobile-video">
  <video
    autoplay
    loop
    muted>
    <source src="https://www.youtube.com/watch?v=YC3uwUvoyQ8&pp=ygURdmlkZW8gZGVtbyBtb2JpbGU%3D" type="video/mp4">
  </video>
</div>