<div class="desktop-video">
  <video
    autoplay
    loop
    muted>
    <source src="https://www.youtube.com/watch?v=xcJtL7QggTI&pp=ygURdmlkZW8gZGVtbyBtb2JpbGU%3D" type="video/mp4">
  </video>
</div>