<div class="mobile-video">
  <iframe src="https://www.youtube.com/embed/8Lka04vQyJ0?loop=1&autoplay=1&mute=1"></iframe>
</div>
<style>
  /* Style the video container */
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }

  /* Style the video player */
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Style the desktop video container */
  .desktop-video {
    display: none; /* Hide the desktop video by default */
  }

  /* Style the mobile video container */
  .mobile-video {
    display: none; /* Hide the mobile video by default */
  }

  /* Show the desktop video on large screens */
  @media(min-width: 992px) {
    .desktop-video {
      display: block;
    }
  }

  /* Show the mobile video on small screens */
  @media(max-width: 991px) {
    .mobile-video {
      display: block;
    }
  }
</style>