<h1>Hello Dynamic Section</h1>
 
{% schema %}
{
    "name": "Hello Dynamic",
    "class": "hello-dynamic",
    "presets": [
        {
            "category": "Hello",
            "name": "Example"
        }
    ]
}
{% endschema %}