<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
</head>

<div>
  <span>Image Slider</span>
</div>

<div class="slider">
  {% for block in section.blocks %}
    <div class="slide">
        <img src="{{block.settings.usr_img | img_url: '1000x200'}}" />
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- JavaScript code -->
<script>
  var $j = jQuery.noConflict();
$j(document).ready(function(){
  $j('.slider').slick({
    autoplay: true,
    autoplaySpeed: 5000,
    speed: 1000,
    arrows: true,
  });
});
  
</script>
<style>
  .slider {
  width: 50%;
  margin: 0 auto;
}

.slide img {
  width: 100%;
  height: auto;
}
/* Style for the prev and next arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}

/* Style for the prev arrow */
.slick-prev {
  z-index: 10;
  left: 0;
}

/* Style for the next arrow */
.slick-next {
  right: 0;
}

</style>
{% schema %}
  {
    "name": "Image slider",
    "max_blocks": 10,
    "blocks": [
      {
        "type": "image",
        "name": "user Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "usr_img",
            "label": "img block"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image slider",
        "category": "Image Slider"
      }
    ]
  }
{% endschema %}