<div>
  <span>Image Slider</span>
</div>
<div class="slider-container">
  <div class="slider">
    <div class="slides">
      <div id="slides__1" class="slide">
        {% for block in section.blocks %}
          <img src="{{block.settings.usr_img | img_url: '200x200'}}" />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<style>
  .slide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

a.slide__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}
.slider {
    width: 600px;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.slider-container {
    background: linear-gradient(149deg, rgb(247, 0, 255) 0%, rgb(255, 145, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
</style>
{% schema %}
  {
    "name": "Image slider",
    "max_blocks": 10,
    "blocks": [
      {
        "type": "image",
        "name": "user Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "usr_img",
            "label": "img block"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image slider",
        "category": "Image Slider"
      }
    ]
  }
{% endschema %}