<div>
  <span>Image Slider</span>
</div>
<div class="slider-container">
  <div class="slider">
    <div class="slides">
      <div id="slides__1" class="slide">
        {% for block in section.blocks %}

        {% endfor %}
        <a class="slide__prev" href="#slides__4" title="Next"></a>
        <a class="slide__next" href="#slides__2" title="Next"></a>
      </div>
  <img src="{{block.settings.usr_img | img_url: '200x200'}}" />
{% schema %}
  {
    "name": "Image slider",
    "max_blocks": 10,
    "blocks": [
      {
        "type": "image",
        "name": "user Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "usr_img",
            "label": "img block"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image slider",
        "category": "Image Slider"
      }
    ]
  }
{% endschema %}