<div>
  <span>Image Slider</span>
</div>
{% for item in blocks.settings %}
  {{item.usr_img | img_url: '200x200'}}
{% endfor %}
{% schema %}
  {
    "name": "Image slider",
    "blocks": [
      {
        "type": "image",
        "name": "user Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "usr_img",
            "label": "img block"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image slider",
        "category": "Image Slider"
      }
    ]
  }
{% endschema %}