<head>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<div>
  <span>Image Slider</span>
</div>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
    {% for block in section.blocks %}
        <img src="{{block.settings.usr_img | img_url: '1000x200'}}" />
      {% endfor %}
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- JavaScript code -->
<script>
  var swiper = new Swiper('.swiper-container', {
    autoplay: {
      delay: 5000
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    }
  });
</script>
<style>

</style>
{% schema %}
  {
    "name": "Image slider",
    "max_blocks": 10,
    "blocks": [
      {
        "type": "image",
        "name": "user Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "usr_img",
            "label": "img block"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image slider",
        "category": "Image Slider"
      }
    ]
  }
{% endschema %}