<div class="flex">
  <div>
    <h1>{{ section.settings.usr_name }}</h1>
    <p>{{ section.settings.usr_bio }}</p>
  </div>
  <img
    src="{{ section.settings.usr_img | img_url: 'medium' }}"
    alt="cake"
    class="flex">
</div>
<div class="range-slider">slider</div>
<style>
  .flex {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background-color: rgba(235, 210, 52);
    border: 2px;
    border-radius: 150px;
    padding: 20px;
  }
  .range-slider {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 20px;
    width: {{ section.settings.range }}px;
  }
</style>
{% schema %}
  {
    "name": "Profile 1",
    "settings": [
      {
        "type": "image_picker",
        "id": "usr_img",
        "label": "img block"
      }, {
        "type": "text",
        "id": "usr_name",
        "label": "user Name"
      }, {
        "type": "richtext",
        "id": "usr_bio",
        "label": "user Bio"
      }, {
        "type": "range",
        "id": "range",
        "label": "range",
        "min": 0,
        "max": 200,
        "default": 100,
        "step": 10,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "User Profile",
        "category": "User Profile"
      }
    ]
  }
{% endschema %}